<h1>Create a Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.fields_for :artist do |artist_fields|%>
    <%= artist_fields.label :artist %>
    <%= artist_fields.text_field :name %>
  <% end %>
  <br>
  
  <%= f.label :genres %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  <br>
  
  <%= f.fields_for :notes, @song.notes.build do |song_fields| %>
    <%= song_fields.label :content %>
    <%= song_fields.text_area :content %>
  <% end %>
  
  <%= f.submit %>
<% end %>


